@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Muli", sans-serif;
}

body{
  height: 100vh;
  background-color: #abe4f7;
}
.Back{
  background:#abe4f7;
  height: 100%;
}
NavLink{
color: rgb(255, 255, 255);
text-align: center;
}

footer
{
	width: 100%;
	position: static;
	bottom: 0;
}
p,li,i
{
	color: white;
}
.fa
{
	font-size: 5vh;
}

.menu_active{
  font-weight: bold;
  color: white !important;
  border-bottom: 2px solid red;
}

img{
  width: 10rem;
  height: 2rem;
}

.CardStyle{
  color: #0d6efd;
  font-weight: bolder;
  font-size: 1rem;
}

.CardStyle:hover{
  font-size: 1rem;
  color: white;
  transition-delay: 0.1s easy-in-out;
  background-color: #0d6efd;
}

.CardimgStyle{
  width: 100%;
}

@media (max-width: 991px){
  .menu_active{
    border-left: 2px solid red;
    border-bottom: 0;
  }
}
/* @media (max-width: 650px){
  img{
    width: 100% !important;
  }
} */